{% extends "page.html" %}

{% macro th(label, key='', colspan=1) %}
<th data-sort="{{key}}" colspan="{{colspan}}">{{label}}
  {% if key %}
  <a href="#"><i class="fa {% if sort.get(key) == 'asc' -%}
                               fa-sort-asc
                           {%- elif sort.get(key) == 'desc' -%}
                               fa-sort-desc
                           {%- else -%}
                               fa-sort
                           {%- endif %} sort-icon">
  </i></a>
  {% endif %}
</th>
{% endmacro %}

{% block main %}

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        {% block thead %}
        {{ th("用户 (%i)" % users|length, 'name') }}
        {{ th("管理员", 'admin') }}
        {{ th("上次活动", 'last_activity') }}
        {{ th("运行 (%i)" % running|length, 'running', colspan=2) }}
        {% endblock thead %}
      </tr>
    </thead>
    <tbody>
      <tr class="user-row add-user-row">
        <td colspan="12">
          <a id="add-users" role="button" class="col-xs-2 btn btn-default">增加用户</a>
          <span class="col-xs-offset-4 col-xs-3">
            <a id="start-all-servers" role="button" class="btn btn-primary col-xs-5 col-xs-offset-1">全部启动</a>
            <a id="stop-all-servers" role="button" class="btn btn-danger col-xs-5 col-xs-offset-1">全部停止</a>
          </span>
          <a id="shutdown-hub" role="button" class="col-xs-2 col-xs-offset-1 btn btn-danger">关闭 Hub</a>
        </td>
      </tr>
  {% for u in users %}
    <tr class="user-row" data-user="{{u.name}}" data-admin="{{u.admin}}">
      {% block user_row scoped %}
      <td class="name-col col-sm-2">{{u.name}}</td>
      <td class="admin-col col-sm-2">{% if u.admin %}admin{% endif %}</td>
      <td class="time-col col-sm-3">
        {%- if u.last_activity -%}
        {{ u.last_activity.isoformat() + 'Z' }}
        {%- else -%}
        从不
        {%- endif -%}
      </td>
      <td class="server-col col-sm-2 text-center">
        <a role="button" class="stop-server btn btn-xs btn-danger {% if not u.running %}hidden{% endif %}">停止服务</a>
        <a role="button" class="start-server btn btn-xs btn-primary {% if u.running %}hidden{% endif %}">启动服务</a>
      </td>
      <td class="server-col col-sm-1 text-center">
        {% if admin_access %}
        <a role="button" class="access-server btn btn-xs btn-primary {% if not u.running %}hidden{% endif %}">进入服务器</a>
        {% endif %}
      </td>
      <td class="edit-col col-sm-1 text-center">
        <a role="button" class="edit-user btn btn-xs btn-primary">编辑用户</a>
      </td>
      <td class="edit-col col-sm-1 text-center">
        {% if u.name != user.name %}
        <a role="button" class="delete-user btn btn-xs btn-danger">删除用户</a>
        {% endif %}
      </td>
      {% endblock user_row %}
    </tr>
  {% endfor %}
  </tbody>
  </table>
</div>

{% call modal('Delete User','删除用户', '提交', btn_class='btn-danger delete-button') %}
  您确定要删除<span class="delete-username">用户</span>?
  此操作无法撤消。
{% endcall %}

{% call modal('Stop All Servers', '停止全部服务器', btn_label='全部停止', btn_class='btn-danger stop-all-button') %}
您确定要停止所有的服务器？核心以及未保存的数据都将随之丢失。
{% endcall %}

{% call modal('Start All Servers', '启动全部服务器', btn_label='全部启动', btn_class='btn-primary start-all-button') %}
您确定要启动所有服务器吗？这将占用大量的系统资源。
{% endcall %}

{% call modal('Shutdown Hub', '关闭JupyterHub', btn_label='关闭', btn_class='btn-danger shutdown-button') %}
  您确定要关闭Hub吗？
  你同样可以选择暂离代理服务（或者关闭独立服务器）勾选下面的选择框:
  <div class="checkbox">
    <label>
      <input type="checkbox" class="shutdown-proxy-checkbox">关闭代理服务
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" class="shutdown-servers-checkbox">关闭独立服务器
    </label>
  </div>
{% endcall %}

{% macro user_modal(name, label, btnlabel, multi=False) %}
{% call modal(name, label, btn_label=btnlabel, btn_class='btn-primary save-button') %}
<div class="form-group">
  <{%- if multi -%}
    textarea
    {%- else -%}
    input type="text"
    {%- endif %}
    class="form-control username-input"
    placeholder="{%- if multi -%} 每行输入一个用户名{%- else -%} username {%-endif-%}">
  {%- if multi -%}</textarea>{%- endif -%}
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" class="admin-checkbox">管理员
  </label>
</div>
{% endcall %}
{% endmacro %}

{{ user_modal('Edit User', '编辑用户', '提交') }}

{{ user_modal('Add Users', '增加用户', '提交', multi=True) }}

{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
require(["admin"]);
</script>
{% endblock %}
