{% extends "page.html" %} {% macro th(label, key='', colspan=1) %}
<th data-sort="{{key}}" colspan="{{colspan}}">{{label}} {% if key %}
    <a href="#"><i class="fa {% if sort.get(key) == 'asc' -%}
                               fa-sort-asc
                           {%- elif sort.get(key) == 'desc' -%}
                               fa-sort-desc
                           {%- else -%}
                               fa-sort
                           {%- endif %} sort-icon">
  </i></a> {% endif %}
</th>
{% endmacro %} {% block main %}

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                {% block thead %} {{ th("用户 (%i)" % users|length, 'name') }} {{ th("管理员", 'admin') }} {{ th("上次活动", 'last_activity') }} {{ th("运行 (%i)" % running|length, 'running', colspan=2) }} {% endblock thead %}
            </tr>
        </thead>
        <tbody>
            <tr class="user-row add-user-row">
                <td colspan="12">
                    <a id="add-users" role="button" class="col-xs-2 btn btn-default">增加用户</a>
                    <span class="col-xs-offset-4 col-xs-3">
            <a id="start-all-servers" role="button" class="btn btn-primary col-xs-5 col-xs-offset-1">全部启动</a>
            <a id="stop-all-servers" role="button" class="btn btn-danger col-xs-5 col-xs-offset-1">全部停止</a>
          </span>
                    <a id="shutdown-hub" role="button" class="col-xs-2 col-xs-offset-1 btn btn-danger">关闭 Hub</a>
                </td>
            </tr>
            {% for user in users %} {% for spawner in user.all_spawners() %}
            <tr class="user-row server-row" id="user-{{user.name}}" data-user="{{ user.name }}" data-server-name="{{spawner.name}}" data-admin="{{user.admin}}">
                {% block user_row scoped %}

                <td class="name-col col-sm-2">{{user.name}} {%- if spawner.name -%} /{{ spawner.name }} {%- endif -%}
                </td>

                <td class="admin-col col-sm-2">
                    {%- if spawner.name == '' -%} {% if user.admin %}admin{% endif %} {%- endif -%}
                </td>

                <td class="time-col col-sm-3">
                    {%- if spawner.last_activity -%} {{ spawner.last_activity.isoformat() + 'Z' }} {%- else -%} 从不 {%- endif -%}
                </td>

                <td class="server-col col-sm-2 text-center">
                    <a role="button" class="stop-server btn btn-xs btn-danger{% if not spawner.active %} hidden{% endif %}">
        停止
        </a>
                    <a role="button" class="start-server btn btn-xs btn-primary{% if spawner.active %} hidden{% endif %}">
        启动
        </a>
                </td>
                <td class="server-col col-sm-1 text-center">
                    {%- if admin_access %}
                    <a role="button" class="access-server btn btn-xs btn-primary{% if not spawner.active %} hidden{% endif %}">
        进入服务器
        </a> {%- endif %}
                </td>
                <td class="edit-col col-sm-1 text-center">
                    {%- if spawner.name == '' -%}
                    <a role="button" class="edit-user btn btn-xs btn-primary">编辑用户</a> {%- endif -%}
                </td>
                <td class="edit-col col-sm-1 text-center">
                    {%- if spawner.name == '' -%} {#- user row -#} {%- if user.name != current_user.name -%}
                    <a role="button" class="delete-user btn btn-xs btn-danger">删除用户</a> {%- endif -%} {%- else -%} {#- named spawner row -#}
                    <a role="button" class="delete-server btn btn-xs btn-warning">删除服务器</a> {%- endif -%}
                </td>
            </tr>
            {% endblock user_row %} {% endfor %} {% endfor %}
        </tbody>
    </table>
</div>

{% call modal('Delete User', btn_class='btn-danger delete-button') %} 真的要删除 <span class="delete-username">用户吗</span>? 这个操作不可撤消。 {% endcall %} {% call modal('Stop All Servers', btn_label='Stop All', btn_class='btn-danger stop-all-button') %} 确认要停止所有的服务器？
核心以及未保存的数据都将随之丢失。 {% endcall %} {% call modal('Start All Servers', btn_label='Start All', btn_class='btn-primary start-all-button') %} 确实要启动所有服务器？这将占用大量的系统资源。 {% endcall %} {% call modal('Shutdown Hub', btn_label='Shutdown', btn_class='btn-danger shutdown-button')
%} 真的要关闭JupyterHub吗? 你同样可以选择暂离代理服务（或者关闭独立服务器）勾选下面的选择框:
<div class="checkbox">
    <label>
      <input type="checkbox" class="shutdown-proxy-checkbox">关闭代理服务
    </label>
</div>
<div class="checkbox">
    <label>
      <input type="checkbox" class="shutdown-servers-checkbox">关闭独立服务器
    </label>
</div>
{% endcall %} {% macro user_modal(name, multi=False) %} {% call modal(name, btn_class='btn-primary save-button') %}
<div class="form-group">
    <{%- if multi -%} textarea {%- else -%} input type="text" {%- endif %} class="form-control username-input" placeholder="{%- if multi -%} usernames separated by lines{%- else -%} username {%-endif-%}">
        {%- if multi -%}</textarea>{%- endif -%}
</div>
<div class="checkbox">
    <label>
    <input type="checkbox" class="admin-checkbox">管理员
  </label>
</div>
{% endcall %} {% endmacro %} {{ user_modal('Edit User') }} {{ user_modal('Add Users', multi=True) }} {% endblock %} {% block script %} {{ super() }}
<script type="text/javascript">
    require(["admin"]);
</script>
{% endblock %}
